name: Health Check
'on':
  workflow_dispatch: {}
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
  push:
    branches:
    - main
  schedule:
  - cron: 0 1 * * *
permissions: {}
run-name: Health Check
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  health_check_matrix:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.12'
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
    - name: Opt Out Of Workflow
      id: opt_out_of_workflow
      run: echo 'Opting out of Health Check workflow.'
  health_check:
    needs:
    - health_check_matrix
    runs-on: ubuntu-latest
    steps:
    - name: Opt Out Of Workflow
      id: opt_out_of_workflow
      run: echo 'Opting out of Health Check workflow.'
