name: Release Workflow
'on':
  workflow_dispatch: {}
  push:
    branches:
    - main
  schedule:
  - cron: 0 6 * * *
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
permissions:
  contents: write
run-name: Release Workflow
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
jobs:
  health_check_matrix:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.12'
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      id: checkout_repository
      uses: actions/checkout@main
    - name: Setup Project Mgt
      id: setup_project_mgt
      uses: astral-sh/setup-uv@main
      with:
        python-version: ${{ matrix.python-version }}
    - name: Patch Version
      id: patch_version
      run: uv version --bump patch && git add pyproject.toml
    - name: Pre Install Pygame From Binary
      id: pre_install_pygame_from_binary
      run: 'pip install pygame --only-binary=:all:'
    - name: Install Python Dependencies
      id: install_python_dependencies
      run: uv sync
    - name: Update Dependencies
      id: update_dependencies
      run: uv lock --upgrade
    - name: Add Dependency Updates To Git
      id: add_dependency_updates_to_git
      run: git add pyproject.toml uv.lock
    - name: Protect Repository
      id: protect_repository
      run: uv run pyrig protect-repo
      env:
        REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
    - name: Run Pre Commit Hooks
      id: run_pre_commit_hooks
      run: uv run pre-commit run --all-files
    - name: Run Tests
      id: run_tests
      run: uv run pytest --log-cli-level=INFO
  health_check:
    needs:
    - health_check_matrix
    runs-on: ubuntu-latest
    steps:
    - name: Aggregate Matrix Results
      id: aggregate_matrix_results
      run: echo 'Aggregating matrix results into one job.'
